* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#navbar{
    background-color: #333;
    color: aliceblue;
    height: 5rem;
    padding: 1.5rem;
}

#navbar h1 {
    float: left;
    padding: 0;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
    padding: .5rem;
}

#navbar ul a:hover {
    color: #f7c08a;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.form-group {
    display: block;
    padding: .5rem 0;
}

#contact-form {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1rem;
    padding: 1rem;
    padding-bottom: 1rem;
}

#contact-form h1 {
    color: #f7c08a;
    padding-bottom: 1.5rem;
}

#contact-form p{
    padding-bottom: 1rem;
}

.form-group input {
    width: 100%;
    height: 100%;
    padding: .15rem .5rem .15rem .5rem;
}


#message {
    height: 19rem;
    width: 100%;
    padding: .5rem;
}

.btn {
    margin-top: .5rem;
    background-color: #333;
    color: aliceblue;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: .50rem;
}

.additional-info {
    text-align: center;
}

.box {
    float: left;
    width: 33.3%;
    padding: 5rem;
    background-color: #333;
    color: aliceblue;
    
}

.box i {
    font-size: 40px;
    padding: 1rem;
}

